.specialO {
    // background-color: steelblue;
    padding-top: 50px;
    height: 718px;
    max-width: 981px;
    margin: 0 auto;
    margin-bottom: 100px;
    // display: flex;

    h1 {
        font-family: Proxima;
        text-transform: uppercase;
        letter-spacing: 8.5px;
    }
    h1:after {
        content: "";
        display: block; 
        // margin: 0 auto; /* This will center the border. */
        width: 20%; 
        padding-top: 6px; 
        border-bottom: 1px solid black; 
    }

    // Barcelona
    .barcaSec {
        // background-color: tan;
        max-width: 648px;
        height: 287px;
        margin-bottom: 60px;
        
        .barcaImg {
            // background-color: violet;
            width: 199px;
            height: 287px;
            background-image: url(../assets/images-specialO/special-offer-barca.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            margin-right: 20px;
        }
        .mainContent {
            // background-color: greenyellow;

            .titleSec {
                // background-color: green;
                margin-bottom: 28px;

                #location {
                    display: inline;
                    // color: #fff;
                    letter-spacing: 9px;
                    font-size: 30px;
                }
                #discount {
                    display: inline;
                    color: #FF7D38;
                    font-size: 20px;
                    letter-spacing: 2px;
                    text-transform: lowercase;
                }
            }

            #cityInfo {
                // background-color: hotpink;
                // color: #fff;
                display: flex;
                max-width: 290px;
                font-family: Gill;
                // margin-bottom: 52px;
            }
            #cityInfo:last-of-type {
                // color: aqua;
                margin-bottom: 80px;
                // &:last-child {
                //     // margin-bottom: 25px;
                    // color: aqua;    
                // }
            }

            // span {
            //     color: #FF7D38;
            // }
        }
    }

    
    // Bangkok
    .bangkokSec {
        // background-color: tan;
        max-width: 648px;
        height: 287px;
        margin-bottom: 100px;

        .bangkokImg {
            // background-color: violet;
            width: 199px;
            height: 287px;
            background-image: url(../assets/images-specialO/special-offer-bangkok.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            margin-right: 20px;
        }
        .mainContent {
            // background-color: greenyellow;

            .titleSec {
                // background-color: green;
                margin-bottom: 28px;

                #location {
                    display: inline;
                    // color: #fff;
                    letter-spacing: 9px;
                    font-size: 30px;
                }
                #discount {
                    display: inline;
                    color: #FF7D38;
                    font-size: 18px;
                    letter-spacing: 2px;
                    text-transform: lowercase;
                }
            }

            #cityInfo {
                // background-color: hotpink;
                // color: #fff;
                display: flex;
                max-width: 290px;
                font-family: Gill;
                // margin-bottom: 52px;
            }
            #cityInfo:last-of-type {
                // color: aqua;
                margin-bottom: 80px;
                // &:last-child {
                //     // margin-bottom: 25px;
                    // color: aqua;    
                // }
            }
        }
    }

    .promoBtn {
        @include siteButton(5px 6px, 15px);                
        color: #fff;
        text-transform: uppercase;
        font-family: Gill;
        
    }
}

@media only screen and (max-width: 700px) {
    .specialO {
        padding: 15px;
    }
}
